.alertify-logs{
  top: 0;
  width: 100% !important;
  text-align: center !important;
  padding: 0 !important;
  right: 0 !important;
}
.alertify-log-error {
color: #fff !important;
font-weight: bold;
font-size: 30px;
background: #f25050 !important;
border: 3px solid #bd2033 !important;
-moz-box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
  -webkit-box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
  box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
}

.alertify-log-success {
font-weight: bold;
font-size: 30px;
-moz-box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
  -webkit-box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
  box-shadow: 0px 0px 20px rgba(68,68,68,0.6);
}

i.fa{
  padding-right: 10px;
}
