---
title: Video Landing Page
---
<!-- Override RD apps BG color -->
<div id="background"></div>
<!-- page content -->
<div class="container">
  <div class="row">
    <!-- header img -->
    <div class="col-xs-12">
      <img class="full-w header" src="http://placehold.it/500x250?text=Replace+with+header">
    </div>
    <!-- responsive embeded video -->
    <div class="col-xs-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- footer img -->
    <div class="col-xs-12">
      <img class="full-w footer" src="http://placehold.it/500x250?text=Replace+with+footer">
    </div>
  </div>
</div>
