---
title: 360 Livestream of The RDMA Red Carpet
---

<!-- Override RD apps BG color -->
<div id="background"></div>
<!-- Start Partials -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img class="full-w header" src="https://s3.amazonaws.com/myfangate.com/rdim360/header.png">
    </div>
    <div class="col-xs-12 button-container">
      <!-- <img class="full-w placeholder" src="https://s3.amazonaws.com/myfangate.com/rdim360/placeholder.jpg"> -->
<!--       <div class="embed-responsive embed-responsive-16by9">
        <iframe width="746" height="420" src="https://www.im360.com/embed/fnr1mropcwstt9" frameborder="0" allowfullscreen></iframe>
      </div> -->
      <a class="im360-link" href="radiodisney://im360-videos/http://imchls-lh.akamaihd.net/i/lalive_360@356922/master.m3u8?set-akamai-hls-revision=4&set-segment-duration=quality">
        <img class="full-w clickhere" src="https://s3.amazonaws.com/myfangate.com/rdim360/clickhere.png">
        <img class="full-w grayscale" src="https://s3.amazonaws.com/myfangate.com/rdim360/rdmacompressed.gif">
        <img class="full-w progressbar" src="https://s3.amazonaws.com/myfangate.com/rdim360/progressbar.png">
        <div class="dark-overlay"></div>
      </a>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <img class="full-w placeholder" src="https://s3.amazonaws.com/myfangate.com/rdim360/footer.png">
    </div>
  </div>
</div>
